<div class="col-md-4 object1" id="obj1">
	<p>
		OBJ1
	</p>
	<p>
		<button type="button" class="btn btn-primary btn-lg btn-block" id="optionButton" role="button">Option</button>
	</p>

	<div class="input-group">
	  <span class="input-group-addon" id="basic-addon1">Quantity</span>
	  <input type="number" class="form-control number-field" id="numbersInput" name="numbersInput" placeholder="Number"  aria-describedby="basic-addon1">
	</div>
	<div class="alert alert-danger input-validation" role="alert">
	  You need to put value first.
	</div>
</div>
