<div class="col-md-8 object2" id="obj2">
	<p>OBJ3</p>
	<h2>Hello world!!!</h2>
	<div class="col-md-4 options" id="options">
		<p>Please select a type</p>
		<select id="typeSelect">
			<option selected>Select type</option>
			<option value="A">Type A</option>
			<option value="B">Type B</option>
		</select>
	</div>
	<div id="dataAppend"></div>
</div>
